body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #999;
  display: flex;
  justify-content: center;
}

/* =============== Layout =============== */
.container {
  background-color: #fff;
  width: 60%;
  min-height: 100vh;
}

.navbar {
  background-color: coral;
  display: flex;
  padding: 0 20px;
}

.navbar li {
  list-style: none;
  background-color: cornflowerblue;
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.35s ease;
}

.navbar li.active {
  background-color: blueviolet;
}

.navbar li:hover {
  background-color: blueviolet;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar-left {
  width: 50%;
  justify-self: flex-start;
  padding: 0;
}

.navbar-right {
  width: 50%;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
}

.content {
  padding: 20px 10px;
  text-align: center;
}

.content form {
  margin-top: 30px;
}


.header-title {
  text-align: center;
  margin: 0;
}

.text-input {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: solid;
  font-size: 18px;
}

.submit-btn {
  margin-top: 50px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  border-width: 0;
  background-color: coral;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.25s ease-in;
}

.submit-btn:hover {
  background-color: blueviolet;
}