{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'tellme/style.css' %}">
  <title>{% block title %}Tell Me{% endblock %}</title>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <ul class="navbar-left">
        <li><a href="{% url 'tellme:home' %}">Home</a></li>
      </ul>
      <ul class="navbar-right">
        <li><a href="{% url 'tellme:register' %}">Sign Up</a></li>
        <li><a href="{% url 'tellme:login' %}">Login</a></li>
      </ul>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>