{% extends 'todo/base.html' %}

{% block content %}
  <div class="d-flex justify-content-center mt-5">
    <div class="form-container">
      <h3 class="text-center mb-3">Edit Todo</h3>
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          {{ form.title }}
          <p class="text-danger error-msg">{{ form.title.errors.as_text }}</p>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          {{ form.description }}
          <p class="text-danger error-msg">{{ form.description.errors.as_text }}</p>
        </div>
        <div class="mb-4">
          <label for="completed" class="form-label">Completed</label>
          {{ form.completed }}
          <p class="text-danger error-msg">{{ form.completed.errors.as_text }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
