{% extends "tellme/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <h1 class="header-title">Register</h1>
  <form action="{% url 'tellme:register' %}" method="POST">
    {% csrf_token %}
    <div>
      <input class="text-input" type="text" placeholder="Username">
    </div>
    <div>
      <input class="text-input" type="email" placeholder="Email">
    </div>
    <div>
      <input class="text-input" type="password" placeholder="Password">
    </div>
    <input class="submit-btn" type="submit" value="Register">
  </form>
{% endblock %}